<footer>
    <div class="footer">
        <div class="footer__logo">
            <img src="../../assets/img/logo.png" alt="Logo - Airline">
        </div>

        <div class="footer__links">
            <div class="links__container links--media--mobile">
                <h4 class="links--title">
                    Follow us
                </h4>
                <a href="#">
                    <img src="../../assets/img/twitter.png" alt="Icon - twitter">
                </a>
                <a href="#">
                    <img src="../../assets/img/fb.png" alt="Icon - facebook">
                </a>
                <a href="#">
                    <img src="../../assets/img/yt.png" alt="Icon - youtube">
                </a>
            </div>

            <div class="links__container">
                <h4 class="links--title">
                    Destinations
                </h4>
                <ul>
                    <li><a href="#">Madrid</a></li>
                    <li><a href="#">Barcelona</a></li>
                    <li><a href="#">London</a></li>
                    <li><a href="#">Paris</a></li>
                    <li><a href="#">Rome</a></li>
                </ul>
            </div>

            <div class="links__container">
                <h4 class="links--title">
                    Legal information
                </h4>
                <ul>
                    <li><a href="#">Privacy policy</a></li>
                    <li><a href="#">Cookie policies</a></li>
                    <li><a href="#">data treatment</a></li>

                </ul>
            </div>

            <div class="links__container">
                <h4 class="links--title">
                    Book your flights
                </h4>
                <ul>
                    <li><a href="#">Search flights</a></li>
                    <li><a href="#">Price calendar</a></li>
                    <li><a href="#">Destination map</a></li>
                    <li><a href="#">Flight times</a></li>
                    <li class="links--media--desktop">
                        <h4 class="links--title">
                            Follow us
                        </h4>
                        <a href="#">
                            <img src="../../assets/img/twitter.png" alt="Icon - twitter">
                        </a>
                        <a href="#">
                            <img src="../../assets/img/fb.png" alt="Icon - facebook">
                        </a>
                        <a href="#">
                            <img src="../../assets/img/yt.png" alt="Icon - youtube">
                        </a>
                    </li>
                </ul>


            </div>
        </div>
    </div>


    <div class="footer__info">
        <p>Website terms of use | Site map | environment | contact&#64;airlines.com</p>
    </div>
</footer>