<div class="banner">
    <div class="banner__img">
        <img src="../../assets/img/banner our destinations.png" alt="Banner - destinations">
    </div>
    <div class="banner__content">
        <h2>
            Our destinations
        </h2>
        <h3>
            Discover the world
        </h3>
        <p>
            Embark on an unforgettable adventure! Discover and enjoy our 
            fascinating destinations. We are waiting for you to explore the 
            world together!
        </p>
    </div>
</div>