<!-- navbar -->
<app-navbar />
<!-- banner -->
<app-banner />
<!-- content -->
<div class="main">
    <!-- offer -->
    <section>
        <h2>Offers</h2>
        <div class="offers">
            <app-offer class="small offers__cont" [img]="'../../assets/img/chicago.png'" [destination]="'Chicago'" [price]="'$600'"/>
            <app-offer class="large offers__cont" [img]="'../../assets/img/porto.png'" [destination]="'Porto'" [price]="'$600'"/>
            <app-offer class="small offers__cont" [img]="'.../../assets/img/mire.png'" [destination]="'Chicago'" [price]="'$600'"/>
        </div>
    </section>
    <!-- banner 2 -->
    <section>
        <app-destination />
    </section>
</div>
<!-- footer -->
<app-footer />
